.icon-modifier {
  width: 10px;
  min-width: 10px;
  max-width: 10px;
  margin-left: 5px;
}
.post-toggler-btn {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  &.active {
    .icon-modifier {
      transform: rotate(-180deg);
    }
  }
}