.icon-logo {
  width: 174px;
}
.icon-home {
  width: 24px;
}
.icon-exit {
  width: 25px;
  margin-left: 25px;
}
.profile-photo {
  margin-left: 24px;
}
.stories {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  text-align: center;
  margin-top: 45px;
}
.post-item {
  max-width: 979px;
  margin: 32px auto;
}