.icon-logo {
  width: 174px;
}
.icon-home {
  width: 24px;
}
.icon-exit {
  width: 25px;
  margin-left: 25px;
}
.profile-photo {
  margin-left: 24px;
}
.stories {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  text-align: center;
  margin-top: 45px;
}
.post-item {
  max-width: 979px;
  margin: 32px auto;
}
.post-items-btns {
  display: flex;
  align-items: center;
}
.taskcard-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 28px;
  margin-bottom: 15px;
}
.taskcard-tasktext {
  line-height: 160%;
  margin-bottom: 32px;
}