.slider-item {
  background: #FFFFFF;
  border-radius: 8px;
  width: 375px;
  height: 667px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  .slide-head {
    padding: 8px 8px 0px;
    border-bottom: 1px solid #CACACA;
  }
  .slide-body {
    flex-grow: 1;
    overflow: auto;
    p {
      color: #404040;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 160%;
      margin-bottom: 14px;
    }
  }
  .slide-footer {
    border-top: 1px solid #CACACA;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 32px;
  }
}
.slide-container {
  padding: 12px;
}
.g-btn {
  min-width: 270px;
}
.slider-body-img {
  border-radius: 6px;
  width: 100%;
  height: 165px;
  overflow: hidden;
  position: relative;
  margin: 18px auto;
  img {
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
}